
@{
    ViewBag.Title = "NewClub";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--<h2>NewClub</h2>-->
<form  method="post" class="form-group">
    <div>
        <label>Kulüp Adı</label>
        <input type="text" class="form-control" name="CLUBNAME"  />
    </div>
    <div style="margin-top:10px">
        <button class="btn btn-primary">Kulüp Ekle</button>

    </div>
</form>
